*{
    text-align: center;
}

html{
    background-color: #B3A19499;
    font-size: 16px;
}

body{
    width: 640px;
    margin: auto; /* 너비에서 남는 여백을 동일하게 분배(페이지 크기를 조절해도 가운데 정렬) */
}

h1{
    font-size: 48px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

p{
    font-size: 1.2rem;
}


/*
실습해보기
글꼴, 글자크기, 색상 등 내가 원하는 스타일 추가 적용 해보기
*/